.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px; /* 이미지 기본 높이로 설정 */
}

.card-content {
    position: relative;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.card-text {
    position: absolute;
    top: calc(50% + 40px); /* title 아래에 위치하도록 수정 */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
